

$color-black:#000000; 
$color-navy: #001f3f;  
$color-lime: #01ff70; 

$md: 500px;
$lg: 980px; 
$xl: 1300px; 

.container {
	width: 499px;
	max-width:  100%;
	margin:  20px auto;
	padding:  0 20px;
}

.grid {
	display:  grid;
	grid-gap:  20px;
}

.grid-2 {
	display:  grid;
	grid-template-columns:  repeat(2, 1fr);
	grid-gap:  20px;
}

@mixin item-Text {
    font: blue; 
	font-size: 12px;
}

.item {
    @include item-Text; 
	border:  25px solid $color-navy;
}


@media (min-width:  $md) {

	.container {
		width:  500px;
		max-width:  100%;
		padding:  0 20px;
	}

	.md-grid-3 {
		display:  grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

}


@media (min-width:  $lg) {

	.container {
		width:  980px;
		max-width:  100%;
		padding:  0 180px;
	}

	.lg-grid-4 {
		display:  grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
	}

}


@media (min-width: $xl) {

	.container {
		width:  1300px;
		max-width:  100%;
		padding:  0 180px;
	}

	.xl-grid-2 {
		display:  grid;
		grid-template-columns:  repeat(2, 1fr);
		grid-gap:  20px;
	}

}
